<div class="row">
  <div class="col-md-12">
    <!-- DATA TABLE -->
    <div class="table-data__tool">
      <div class="table-data__tool-left">
        <h3 class="title-5 m-b-35">Machine Learning Phrases</h3>
      </div>
      <div class="table-data__tool-right">
        <button class="au-btn au-btn-icon au-btn--green au-btn--small" type="button" data-toggle="modal" data-target="#addTestPhrase">
          <i class="zmdi zmdi-plus"></i>
          add phrase
        </button>
        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
          upload
          <i class="zmdi zmdi-upload"></i>
        </button>
        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
          download
          <i class="zmdi zmdi-download"></i>
        </button>
      </div>
    </div>
    <div class="table-responsive table-responsive-data2">
      <table class="table table-data2">
        <thead>
        <tr>
          <th>Verified?</th>
          <th>phrase</th>
          <th>Intent</th>
          <th>Score</th>
          <th>Entities Discovered in Phrase</th>
        </tr>
        </thead>
        <tbody>
        <tr class="tr-shadow">
          <td>
            <label class="au-checkbox">
              <input type="checkbox">
              <span class="au-checkmark"></span>
            </label>
          </td>
          <td>Add 65 pushups</td>
          <td>Track Exercise</td>
          <td>7.5</td>
          <td>
            [Topics: fitness] [Exercises: pushups, pullups] [weighted_lists: squats]
          </td>
        </tr>
        <tr class="spacer"></tr>
        <tr class="tr-shadow">
          <td>
            <label class="au-checkbox">
              <input type="checkbox">
              <span class="au-checkmark"></span>
            </label>
          </td>
          <td>65 pull ups</td>
          <td>Track Exercise</td>
          <td>7.5</td>
          <td>
            [Topics: fitness] [Exercises: pushups, pullups] [weighted_lists: squats]
          </td>
        </tr>
        <tr class="spacer"></tr>
        <tr class="tr-shadow">
          <td>
            <label class="au-checkbox">
              <input type="checkbox">
              <span class="au-checkmark"></span>
            </label>
          </td>
          <td>10 squats 275lbs</td>
          <td>Track Weighted Lifts</td>
          <td>7.5</td>
          <td>
            [Topics: fitness] [Exercises: pushups, pullups] [weighted_lists: squats]
          </td>
        </tr>
        <tr class="spacer"></tr>
        <tr class="tr-shadow">
          <td>
            <label class="au-checkbox">
              <input type="checkbox">
              <span class="au-checkmark"></span>
            </label>
          </td>
          <td>10 bench presses 225 lbs</td>
          <td>Track Weighted Lift</td>
          <td>7.5</td>
          <td>
            [Topics: fitness] [Exercises: pushups, pullups] [weighted_lists: squats]
          </td>
        </tr>
        <tr class="spacer"></tr>
        <tr class="tr-shadow">
          <td>
            <label class="au-checkbox">
              <input type="checkbox">
              <span class="au-checkmark"></span>
            </label>
          </td>
          <td>Add 65 pushups</td>
          <td>Track Exercise</td>
          <td>7.5</td>
          <td>
            [Topics: fitness] [Exercises: pushups, pullups] [weighted_lists: squats]
          </td>
        </tr>
        <tr class="spacer"></tr>
        <tr class="tr-shadow">
          <td>
            <label class="au-checkbox">
              <input type="checkbox">
              <span class="au-checkmark"></span>
            </label>
          </td>
          <td>Add 65 pushups</td>
          <td>Track Exercise</td>
          <td>7.5</td>
          <td>
            [Topics: fitness] [Exercises: pushups, pullups] [weighted_lists: squats]
          </td>
        </tr>
        <tr class="spacer"></tr>
        </tbody>
      </table>
    </div>
    <!-- END DATA TABLE -->
  </div>
</div>