<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <h1 class="title-2">Epiphany Learning</h1>
  </div>
  <div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar__list">
        <li>
          <a class="js-arrow" href="/epiphany">
            <i class="fas fa-tachometer-alt"></i>
            Dashboard
          </a>
        </li>
        <li>
          <a href="/epiphany/entity_types">
            <i class="zmdi zmdi-collection-bookmark"></i>
            Entity Types
          </a>
        </li>
        <li>
          <a href="/epiphany/intents">
            <i class="zmdi zmdi-lamp"></i>
            Intents
          </a>
        </li>
        <li>
          <a href="/epiphany/custom_analyzers">
            <i class="zmdi zmdi-chart"></i>
            Advanced Analyzers
          </a>
        </li>
        <li>
          <a href="/epiphany/test_phrases">
            <i class="zmdi zmdi-comments"></i>
            Machine Learning Phrases
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
<!-- END MENU SIDEBAR-->