<div class="row">
  <div class="col-md-12">
    <div class="overview-wrap">
      <h2 class="title-1">overview</h2>
      <button class="au-btn au-btn-icon au-btn--blue">
        <i class="zmdi zmdi-plus"></i>
        New Entity Type
      </button>
    </div>
  </div>
</div>
<div class="row m-t-25">
  <div class="col-sm-6 col-lg-3">
    <div class="overview-item overview-item--c1">
      <div class="overview__inner">
        <div class="overview-box clearfix">
          <div class="icon">
            <i class="zmdi zmdi-collection-bookmark"></i>
          </div>
          <div class="text">
            <h2>45</h2>
            <span>Entity Types</span>
          </div>
        </div>
        <div class="overview-chart">
          <canvas id="widgetChart1"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="overview-item overview-item--c2">
      <div class="overview__inner">
        <div class="overview-box clearfix">
          <div class="icon">
            <i class="zmdi zmdi-labels"></i>
          </div>
          <div class="text">
            <h2>20,026</h2>
            <span>Entities</span>
          </div>
        </div>
        <div class="overview-chart">
          <canvas id="widgetChart2"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="overview-item overview-item--c3">
      <div class="overview__inner">
        <div class="overview-box clearfix">
          <div class="icon">
            <i class="zmdi zmdi-lamp"></i>
          </div>
          <div class="text">
            <h2>12</h2>
            <span>Intents</span>
          </div>
        </div>
        <div class="overview-chart">
          <canvas id="widgetChart3"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="overview-item overview-item--c4">
      <div class="overview__inner">
        <div class="overview-box clearfix">
          <div class="icon">
            <i class="zmdi zmdi-comments"></i>
          </div>
          <div class="text">
            <h2>46,345</h2>
            <span>Test Phrases</span>
          </div>
        </div>
        <div class="overview-chart">
          <canvas id="widgetChart4"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
      <div class="au-card-title" style="background-image:url('images/bg-title-01.jpg');">
        <div class="bg-overlay bg-overlay--blue"></div>
        <h3>
          <i class="zmdi zmdi-collection-bookmark"></i>Exercises</h3>
        <button class="au-btn-plus">
          <i class="zmdi zmdi-plus"></i>
        </button>
      </div>
      <div class="au-task js-list-load">
        <div class="au-message__noti">
          <p><span>25 Entities</span></p>
        </div>
        <div class="au-task-list js-scrollbar3">
          <div class="au-task__item au-task__item--danger">
            <div class="au-task__item-inner">
              <h5 class="task">
                <a href="#">Pushups</a>
              </h5>
            </div>
          </div>
          <div class="au-task__item au-task__item--warning">
            <div class="au-task__item-inner">
              <h5 class="task">
                <a href="#">Pullups</a>
              </h5>
            </div>
          </div>
          <div class="au-task__item au-task__item--primary">
            <div class="au-task__item-inner">
              <h5 class="task">
                <a href="#">Situps</a>
              </h5>
            </div>
          </div>
          <div class="au-task__item au-task__item--success">
            <div class="au-task__item-inner">
              <h5 class="task">
                <a href="#">Crunches</a>
              </h5>
            </div>
          </div>
          <div class="au-task__item au-task__item--success">
            <div class="au-task__item-inner">
              <h5 class="task">
                <a href="#">Burpees</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="au-task__footer">
          <button class="au-btn au-btn-load js-load-btn">view all</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
      <div class="au-card-title" style="background-image:url('images/bg-title-01.jpg');">
        <div class="bg-overlay bg-overlay--blue"></div>
        <h3>
          <i class="zmdi zmdi-collection-bookmark"></i>Weighted Lifts</h3>
        <button class="au-btn-plus">
          <i class="zmdi zmdi-plus"></i>
        </button>
      </div>
      <div class="au-task js-list-load">
        <div class="au-message__noti">
          <p><span>28 Entities</span></p>
        </div>
        <div class="au-task-list js-scrollbar3">
          <div class="au-task__item au-task__item--danger">
            <div class="au-task__item-inner">
              <h5 class="task">
                <a href="#">Squats</a>
              </h5>
            </div>
          </div>
          <div class="au-task__item au-task__item--warning">
            <div class="au-task__item-inner">
              <h5 class="task">
                <a href="#">Deadlifts</a>
              </h5>
            </div>
          </div>
          <div class="au-task__item au-task__item--primary">
            <div class="au-task__item-inner">
              <h5 class="task">
                <a href="#">Bench Press</a>
              </h5>
            </div>
          </div>
          <div class="au-task__item au-task__item--success">
            <div class="au-task__item-inner">
              <h5 class="task">
                <a href="#">Military Press</a>
              </h5>
            </div>
          </div>
          <div class="au-task__item au-task__item--success">
            <div class="au-task__item-inner">
              <h5 class="task">
                <a href="#">Power Clean</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="au-task__footer">
          <button class="au-btn au-btn-load js-load-btn">view all</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-9">
    <h2 class="title-1 m-b-25">Test Phrases</h2>
    <div class="table-responsive table--no-card m-b-40">
      <table class="table table-borderless table-striped table-earning">
        <thead>
        <tr>
          <th>Phrase</th>
          <th>Score</th>
          <th>Calculated Intent</th>
          <th class="text-right">Human Validated</th>
          <th class="text-right">Entities</th>
          <th class="text-right">Feedback</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>2018-09-29 05:57</td>
          <td>100398</td>
          <td>iPhone X 64Gb Grey</td>
          <td class="text-right">$999.00</td>
          <td class="text-right">1</td>
          <td class="text-right">$999.00</td>
        </tr>
        <tr>
          <td>2018-09-28 01:22</td>
          <td>100397</td>
          <td>Samsung S8 Black</td>
          <td class="text-right">$756.00</td>
          <td class="text-right">1</td>
          <td class="text-right">$756.00</td>
        </tr>
        <tr>
          <td>2018-09-27 02:12</td>
          <td>100396</td>
          <td>Game Console Controller</td>
          <td class="text-right">$22.00</td>
          <td class="text-right">2</td>
          <td class="text-right">$44.00</td>
        </tr>
        <tr>
          <td>2018-09-26 23:06</td>
          <td>100395</td>
          <td>iPhone X 256Gb Black</td>
          <td class="text-right">$1199.00</td>
          <td class="text-right">1</td>
          <td class="text-right">$1199.00</td>
        </tr>
        <tr>
          <td>2018-09-25 19:03</td>
          <td>100393</td>
          <td>USB 3.0 Cable</td>
          <td class="text-right">$10.00</td>
          <td class="text-right">3</td>
          <td class="text-right">$30.00</td>
        </tr>
        <tr>
          <td>2018-09-29 05:57</td>
          <td>100392</td>
          <td>Smartwatch 4.0 LTE Wifi</td>
          <td class="text-right">$199.00</td>
          <td class="text-right">6</td>
          <td class="text-right">$1494.00</td>
        </tr>
        <tr>
          <td>2018-09-24 19:10</td>
          <td>100391</td>
          <td>Camera C430W 4k</td>
          <td class="text-right">$699.00</td>
          <td class="text-right">1</td>
          <td class="text-right">$699.00</td>
        </tr>
        <tr>
          <td>2018-09-22 00:43</td>
          <td>100393</td>
          <td>USB 3.0 Cable</td>
          <td class="text-right">$10.00</td>
          <td class="text-right">3</td>
          <td class="text-right">$30.00</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-3">
    <h2 class="title-1 m-b-25">Intents</h2>
    <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
      <div class="au-card-inner">
        <div class="table-responsive">
          <table class="table table-top-countries">
            <tbody>
            <tr>
              <td>Track Exercise</td>
            </tr>
            <tr>
              <td>Track Weighted Lift</td>
            </tr>
            <tr>
              <td>Add to Watchlist</td>
            </tr>
            <tr>
              <td>Add to Grocery List</td>
            </tr>
            <tr>
              <td>Set Reminder</td>
            </tr>
            <tr>
              <td>Add a note</td>
            </tr>
            <tr>
              <td>Web Search</td>
            </tr>
            <tr>
              <td>Topic Search on Twitter</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>